:root {
  --color-primary: #2B2F41;
  --color-secondary: #83A260;
  --color-tertiary: #d6d0c2;

  --color-tertiary-hover: #eeebe2;

  /* White and Black Colors */
  --color-white: #ffffff;
  --color-black: #1f1f1f;

}

