:root {
  /* Primary Brand Colors */
  --color-primary: #2B2F41;

  /* Secondary Accent Colors */
  --color-secondary: #83A260;

  /* Text Colors */
  --color-text-white: #ffffff;
  --color-text-black: #1f1f1f;

}

